.galeria{
  display: flex;
  flex-direction: column;
align-content: space-between;
  align-items: center;
}
img{
  width: 600px;
  margin: 10px;
}
@media screen and (min-width:200px) and (max-width:768px) {
  img{
    width: 360px;
  }
  video{
    width: 360px;
  }
  }