.galeria{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
justify-content: center;
align-items: center;
}
.imagen-portfolio{
width: 400px;
  margin: 10px;
}
.imagen-horizontal{
  width: 1200px;
    margin: 10px;
  }
@media screen and (min-width:200px) and (max-width:768px) {
  .imagen-portfolio{
    width: 320px;
  }
  .imagen-horizontal{
    width: 400px;
    margin: 10px;
    }
  }