.galeria{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
justify-content: center;
align-items: center;
}
.imagen-portfolio{
  width: 400px;
  height: 400px;
  margin: 10px;
}
.videos{
  width: 400px;
  height: 600px;
  margin: 10px;
}
@media screen and (min-width:200px) and (max-width:768px) {
  img{
    width: 360px;
  }
  video{
    width: 360px;
  }
  }